html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    min-height: 100%;
}

#giphyLogo {
    padding: 15px 15px 0 0;
    float: right;
}

h1 {
    font-size: 75px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    clear: both;
}

p {
    font-weight: bold;
    margin: 0 0 20px 0;

}

#gifsForm {
    float: right;
}

/* TRYING TO GET THE PICTURES TO GO INTO HORIZONTAL ROWS */
#gifContainer {
    width: 100%;
    height: 100%;
}

#gifs-view {
    float: left;
    width: 450px;
    margin: 10px;
}


#instructions {
    text-align: center;
    font-size: 25px;
    line-height: 45px;
}

form {
    margin: 10px;
}

.gif {
    background-color: darkblue;
    color: white;
    width: 175px;
    height: 40px;
    margin: 15px;
    border-radius: 10px;
    font-size: 17px;
}

#add-gif {
    background-color: red;
    color: white;
    width: 155px;
    height: 40px;
    margin: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}